.playGround {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  justify-content: center;
  align-items: center;
  /* Added alignment for vertical centering */
  width: 700px;
  height: 600px;
  border: 5px dashed #0f103580;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin: auto;
  margin-top: 2em;
  font-size: 1.1em;
}

form {
  display: flex;
  flex-direction: column; /* Adjusted to column layout */
  align-items: center;
}



/*Button*/
.submitButton {
  margin-top: 1em; /* Adjusted margin top */
  display: block;
  font-size: 1em;
}

.submitButton {
  width: 6em;
  height: 2em;
  border-radius: 9px;
  border: 2px dashed #0f103580;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.submitButton:hover {
  cursor:pointer;
  border-color: #7FC7D9;
}
/*Button*/

