.playGround {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  border: 5px dashed #0f103579;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  margin: auto;
  margin-top: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes moveUp {
  0% {transform: translateY(0);}
  100% {transform: translateY(-100px);}
}
@keyframes moveDown {
  0% {transform: translateY(-100px);}
  100% {transform: translateY(0);}
}
.moveComponentsUp{
  animation: moveUp 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.moveComponentsDown{
  animation: moveDown 1s ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}