/*File type label and dropdown*/
.fileTypeDropdown {
    text-align: center;
  }
  
  .fileTypeDropdown>label {
    display: block;
  }
  
  .fileTypeDropdown>select {
    width: 20em;
    height: 2.5em;
    border-radius: 9px;
    border: 2px dashed #0f103580;
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  .fileTypeDropdown>select:focus {
    border-color: #7FC7D9;
  }
  .fileTypeDropdown>select:hover {
    cursor:pointer;
  }
  /*File type label and dropdown*/