.introduction{
    text-align: center;
    margin-top: 4em;
}

.introduction span{
    font-weight: 700;
    display: block;
}

.first-intro-line{
    font-size: 2.3em;
}
.sec-intro-line{
    font-size: 1.7em;
}