.introduction{
    text-align: center;
    margin-top: 4em;
}

.introduction span{
    font-weight: 700;
    display: block;
}

.firstIntroLine{
    font-size: 2.3em;
}
.secondIntroLine{
    font-size: 1.7em;
}