

/*Informative area*/
.notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 420px;
    height: 100px;
    border: 3px dashed #0f10353b;
    border-radius: 30px;
    padding: 10px;
    margin-top: 2em;
    font-size: 0.9em;
    background-color: rgb(186, 252, 252);
}
/*Informative area*/