

/*Informative area*/
.notification{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 420px;
    height: 100px;
    border: 3px dashed #ffffff3b;
    border-radius: 30px;
    padding: 10px;
    margin-top: 2em;
    font-size: 0.9em;
    background-color: rgba(0, 255, 255, 0.048);
    font-weight: 600;
}
/*Informative area*/