/*URL label and field*/
.URL>input {
  margin: 0.8em;
  width: 25em;
  height: 2.2em;
  padding-inline-start: 0.5em;
  border-radius: 15px;
  border: 3px solid #0f103580;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.URL>input:hover {
  border-color: #7FC7D9;
}
.URL>input:focus {
  border-color: #98e9fd;
}
.URL>input[type="url"] {
  font-size: 0.9em;
}

/*URL label and field*/